*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #bfbfbf;
}

a:hover {
  color: #232127;
  cursor: pointer;
}

button[type="button"],
button[type="submit"] {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.mobile-menu-btn {
  display: none;
}

.error {
  color: red;
}

.navigation__inner {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__inner .navigation__inner-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2.5rem;
}

.navigation__inner-left__link {
  padding-right: 2rem;
}

.logo {
  font-size: 2rem;
  color: #232127;
  font-weight: 700;
}

.login {
  color: #bfbfbf;
  background: transparent;
  margin-right: 1rem;
}

.signup, .banner__container-btn, .copy-button, .advanced .advanced__form .advanced__btn, .boost-links .boost-links__btn {
  color: #fff;
  padding: 8px 25px;
  background-color: #2acfcf;
  border-radius: 25px;
}

.signup:hover, .banner__container-btn:hover, .copy-button:hover, .advanced .advanced__form .advanced__btn:hover, .boost-links .boost-links__btn:hover {
  background-color: #38fafa;
}

.banner__container {
  background-image: url("../images/illustration-working.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 2.5rem 0;
}

.banner__container-heading {
  font-size: 4rem;
  width: 40%;
}

.banner__container-text {
  color: #bfbfbf;
  width: 30%;
  font-size: 1rem;
}

.banner__container-heading,
.banner__container-text,
.banner__container-btn {
  margin-bottom: 2.5rem;
}

.links {
  width: 80%;
  margin: 1rem auto;
}

.list__inner {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.short-link {
  color: cyan;
}

.advanced {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.5%, #fff), color-stop(7.5%, rgba(158, 154, 167, 0.13)), to(rgba(158, 154, 167, 0.13)));
  background: linear-gradient(to bottom, #fff 7.5%, rgba(158, 154, 167, 0.13) 7.5%, rgba(158, 154, 167, 0.13) 100%);
  margin-top: 3rem;
  padding-bottom: 8rem;
}

.advanced .advanced__form {
  width: 80%;
  margin: 0 auto;
  background: #3b3054 url("../images/bg-shorten-desktop.svg");
  padding: 3rem;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advanced .advanced__form .text-input {
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 85%;
}

.advanced .advanced__form .advanced__btn {
  border-radius: 15px;
  padding: 1rem;
}

.advanced .advanced__content {
  text-align: center;
  margin-top: 7.5rem;
}

.advanced .advanced__content .advanced__content-text {
  color: #bfbfbf;
  width: 30%;
  margin: 0 auto;
  margin-top: 4rem;
}

.advanced .advanced__content-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5.5rem;
  height: 30rem;
}

.advanced .advanced__content-card {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, transparent), color-stop(25%, #fff), to(#fff));
  background: linear-gradient(to bottom, transparent 25%, #fff 25%, #fff 100%);
  text-align: left;
  padding: 2rem;
  margin: 0 2rem;
  border-radius: 15px;
  width: 25%;
}

.advanced .advanced__content-card .advanced__content-icon {
  background-color: #3b3054;
  border-radius: 50%;
  padding: 1.75rem;
}

.advanced .advanced__content-card .advanced__content-card__heading {
  font-weight: 700;
}

.advanced .advanced__content-card .advanced__content-card__text {
  color: #bfbfbf;
  margin-top: 2rem;
}

.advanced .advanced__content-card:first-child {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.advanced .advanced__content-card:last-child {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.boost-links {
  text-align: center;
  padding: 2rem 1rem 3rem 1rem;
  background: #3b3054 url("../images/bg-boost-desktop.svg");
}

.boost-links .boost-links__heading {
  color: #fff;
  font-size: 2rem;
}

.boost-links .boost-links__btn {
  margin-top: 2rem;
}

.foot {
  background-color: #232127;
  padding: 4rem 1rem;
  color: #fff;
}

.foot .footer__logo {
  -webkit-filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
          filter: invert(0) sepia(0) saturate(1) hue-rotate(0deg) brightness(5);
}

.foot .footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot .footer__inner .footer__inner-item a:hover {
  color: #fff;
}

.foot .footer__inner-item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot .footer__inner-item:not(:last-child) ul li:first-child {
  font-weight: 700;
  margin-bottom: 2rem;
}

.foot .footer__inner-item:last-child a {
  padding: 0 0.5rem;
}

.attribution {
  text-align: center;
}

.attribution a:hover {
  color: #3b3054;
}

@media (max-width: 1439px) {
  .container {
    max-width: 1068px;
  }
  .advanced .advanced__form {
    width: 100%;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advanced .advanced__content .advanced__content-text {
    width: 80%;
  }
  .advanced .advanced__content-cards {
    height: auto;
    margin: 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advanced .advanced__content-card {
    width: 80%;
  }
  .links {
    width: 100%;
  }
}

@media (max-width: 1279px) {
  .container {
    max-width: 768px;
  }
  .banner__container {
    background-size: 35%;
  }
  .banner__container-heading {
    width: 75%;
  }
  .banner__container-text {
    width: 50%;
  }
  .list__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .prev-link {
    border-bottom: 1px solid #bfbfbf;
  }
  .short-link {
    color: cyan;
    border-top: 1px solid #bfbfbf;
  }
  .prev-link,
  .short-link,
  .copy-button {
    width: 100%;
    padding: 0.5rem;
  }
  .advanced .advanced__form .advanced__btn {
    margin-left: 1.5rem;
  }
  .foot .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .foot .footer__inner-item {
    margin: 1rem 0;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .container,
  .attribution {
    margin: 0 1.5rem;
  }
  .navigation__inner {
    margin: 1.5rem 0;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__inner .navigation__inner-container {
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: #3b3054 url("../images/bg-shorten-mobile.svg");
    color: #fff;
  }
  .navigation__inner .navigation__inner-container .navigation__inner-left,
  .navigation__inner .navigation__inner-container .navigation__inner-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .navigation__inner .navigation__inner-container .navigation__inner-left > a,
  .navigation__inner .navigation__inner-container .navigation__inner-right > button[type="button"] {
    margin: 1rem;
    color: #fff;
    font-weight: 700;
    width: 100%;
  }
  .navigation__inner .navigation__inner-container .navigation__inner-left > a {
    padding: 0;
  }
  .navigation__inner .navigation__inner-container .navigation__inner-right {
    border-top: 1px solid #fff;
  }
  .banner__container {
    padding-top: 15rem;
    background-position: top;
    background-size: 100%;
    text-align: center;
  }
  .banner__container-heading {
    font-size: 2rem;
  }
  .banner__container-heading,
  .banner__container-text {
    width: 85%;
    margin: 0 auto;
  }
  .banner__container-text {
    padding: 1.5rem 0;
  }
  .advanced .advanced__form {
    width: 100%;
    padding: 1rem;
    background-image: url("../images/bg-shorten-mobile.svg");
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advanced .advanced__form .text-input,
  .advanced .advanced__form .advanced__btn {
    width: 100%;
  }
  .advanced .advanced__form .advanced__btn {
    margin: 1rem 0 0 0;
  }
  .advanced .advanced__content .advanced__content-card {
    text-align: center;
  }
  .boost-links {
    background-image: url("../images/bg-boost-mobile.svg");
  }
  .mobile-menu-btn {
    display: inline-block;
    cursor: pointer;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
  }
}
/*# sourceMappingURL=style.css.map */